.search{
  			position: fixed;
    		opacity: 1;
    		width: 100%;
    		background: #fff;
    		top:0;
  		}
  		.contentGroup{
  			padding: 30px 0;
  		}
  		.top{

  		}
  		.heigLight {
    		background: #ccf;
		}